# general patterns
*.cache
*.directory
*.json
*.pyc
*.swp
env/*
!env/.keep
devmine/log/*
!devmine/log/.keep

# files
alembic.ini
devmine/config/settings.py
devmine/db/dev.db
devmine/db/devmine.db
tools/data_gathering/gh_settings.py
